* {
    --font-merriweather: 'merriweather', serif;
    --font-raleway: 'Raleway', sans-serif;
    font-family: var(--font-merriweather);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

header {
    width: 100%;
}

main {
    padding: 0px 10px;
    margin: 40px max(0px, calc(50vw - 530px)) 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer::before {
    content: "";
    display: block;
    width: 100%;
    margin-top: 80px;
}

footer {
    margin-top: auto;
    width: 100%;
}

h1 {
    margin: 20px 0px;
    font-family: var(--font-raleway);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.4em;
    align-self: center;
}

h2 {
    font-family: var(--font-raleway);
    font-weight: 600;
    font-size: 1.2em;
}

button {
    width: fit-content;
    margin: 5px 0px;
    font-family: var(--font-raleway);
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.p-curto p {
    display: inline-block;
}

.p-curto button {
    margin-left: 10px;
}

#simpsons {
    max-width: 750px;
    max-height: 562px;
    display: block;    
}

.center {
    align-self: center
}